.product-list {
  padding: 80px 0 80px;
  max-width: 80%;
  margin: 0% auto;
}

.product-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-title {
  color: var(--title-color);
  user-select: none;
  margin-bottom: 1rem;
}

.product-description {
  font-size: 1.1rem;
  color: var(--text-black-600);
  text-align: center;
  letter-spacing: 0.6px;
  line-height: 1.6;
  max-width: 90%;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .product-list {
    max-width: 90%;
  }
}

@media (max-width: 490px) {
  .product-title {
    font-size: 1.1rem;
  }

  .product-description {
    font-size: 12px;
    text-align: justify;
  }
}
